@{
    ViewData["Title"] = "Статистика";
}

<div class="content-box text-center">
    <h1 class="display-4">СТАТИСТИКА</h1>
    <img src="/images/pie_chart_placeholder.png" class="img-fluid mb-3" alt="Круговая диаграмма" style="max-width: 300px;">
    <p class="card-text">Учащийся демонстрирует уверенное владение материалом, успешно справляется с большинством заданий, проявляет активность в работе и стабильно показывает хорошие результаты.</p>
    <button class="btn btn-danger btn-lg">Оцени сайт, если понравились результаты <i class="bi bi-arrow-right"></i><i class="bi bi-emoji-smile"></i></button>
</div> 