@{
    ViewData["Title"] = "Курсы";
}

<div class="content-box text-center">
    <h1 class="display-4">Курсы</h1>
    <div class="row">
        <div class="col-4 mb-3"><button class="btn btn-lg btn-primary w-100">А-Я</button></div>
        <div class="col-4 mb-3"><button class="btn btn-lg btn-primary w-100">Продвинутые</button></div>
        <div class="col-4 mb-3"><button class="btn btn-lg btn-primary w-100">ОГЭ</button></div>
        <div class="col-4 mb-3"><button class="btn btn-lg btn-primary w-100">ЕГЭ</button></div>
        <div class="col-4 mb-3"><button class="btn btn-lg btn-primary w-100">Секреты успеха</button></div>
        <div class="col-4 mb-3"><button class="btn btn-lg btn-primary w-100">ВПР</button></div>
        <div class="col-4 mb-3"><button class="btn btn-lg btn-primary w-100">Спец матер</button></div>
        <div class="col-4 mb-3"><button class="btn btn-lg btn-primary w-100"><i class="bi bi-lock-fill"></i> Видео</button></div>
        <div class="col-4 mb-3"><button class="btn btn-lg btn-primary w-100">Олимпиады</button></div>
        <div class="col-4 mb-3"><button class="btn btn-lg btn-primary w-100">АБ</button></div>
    </div>
</div> 