@{
    ViewData["Title"] = "Сертификат";
}

<div class="content-box text-center">
    <h1 class="display-4">Сертификат о прохождении курса</h1>
    <img src="/images/certificate_placeholder.png" class="img-fluid mb-3" alt="Сертификат" style="max-width: 300px;">
    <p class="card-text">Выдан ученику mamba2017 за успешное освоение русского языка</p>
</div> 