@{
    ViewData["Title"] = "Вход";
}

<div class="content-box">
    <h1 class="display-4">Войти</h1>
    <form asp-action="Index" method="post" class="text-start" autocomplete="on">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="form-group mb-3">
            <label for="email">ПОЧТА</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="apupa@amogus.com" autocomplete="email">
        </div>
        <div class="form-group mb-4">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="*****" autocomplete="current-password">
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-lg">выполнить авторизацию</button>
        </div>
    </form>
    <div class="mt-3">
        <p>Нет аккаунта? <a asp-action="Index" asp-controller="Registration" style="color: #7B2A99;">Зарегистрироваться</a></p>
    </div>
</div>