@{
    ViewData["Title"] = "Войти";
}

<div class="content-box">
    <h1 class="display-4">Войти</h1>
    <form class="text-start">
        <div class="form-group mb-3">
            <label for="email">ПОЧТА</label>
            <input type="email" class="form-control" id="email" placeholder="apupa@amogus.com">
        </div>
        <div class="form-group mb-4">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" id="password" placeholder="*****">
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-lg">выполнить авторизацию</button>
        </div>
    </form>
</div> 